.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Slider style */
  .slider {
    position: absolute;
    cursor: pointer;
    top: -3px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #365486;
    transition: .4s;
    border-radius: 17px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* Checkbox checked */
  input:checked + .slider {
    background-color: #0066ff;
  }
  
  input:checked + .slider:before {
    transform: translateX(9px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #dcf2f1;
    color: #365486;
  }
  
  h3 {
    color: #365486; /* Blue color for headings */
  }
  
  input[type="file"],
  input[type="text"],
  select {
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  
  /* Styles for specific elements */
  #after-classrooms,
  #csvData,
  #dynamicCriteriums {
    color: #333;
    padding: 10px;
  }
  
  /* Make divs transparent */
  #after-classrooms,
  #csvData,
  #dynamicCriteriums {
    background-color: transparent;
  }

  #chart-container,
  #line-chart-container, 
  #modifiable-tabulator,
  #download-container,
  #heatmap-container {
    width: 80%;
    margin: 10px auto; /* Center the div horizontally */
    text-align: center;
  }

  button, input[type="submit"]  {
    padding: 8px 15px;
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Style for h4 elements inside download-container */
  h4 {
    color: #365486;
    margin-bottom: 10px;
    text-align: center; 
    display:none;
  }
